<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
<!--        <setting name="defaultExecutorType" value="REUSE" />-->
        <setting name="defaultExecutorType" value="BATCH" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    <typeAliases>
        <typeAlias type="com.example.test1.dto.Product" alias="product" />
    </typeAliases>
    <mappers>
        <mapper resource="mapper/mapper.xml"/>
    </mappers>
</configuration>